################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/web-store/v17/.wsuo
/.vs/VSWorkspaceState.json
