<div class="container">
  <header>
    <h2 class="my-3 bd-title">Web Store</h2>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <nav class="nav d-flex justify-content-between" >
        <a routerLink="/productList" class="nav-link" routerLinkActive="btn btn-outline-primary">Home</a>
        <a routerLink="/cart" class="nav-link"routerLinkActive="btn btn-outline-primary" >Shopping Cart</a>
      </nav>

      <div class="d-inline-flex mt-md-0 ms-md-auto">
        <span >
          <h6>
        Items in cart - {{numberOfCartItems}}</h6>
      </span> </div>
    </div>
  </header>
</div>